<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        body {
            text-align: center;
            background-color: antiquewhite;
            
        }
        textarea {
            background-color: beige;
            color: brown;
            border-color: brown;
            border-radius: 20px;
            outline-style: none;
        }
    </style>

</head>
<body>
    <h1>
        워드 카운터
    </h1>
    <hr>
    <form action="{% url 'result' %}" method="POST">
        {% csrf_token %}
        <textarea rows="50" cols="80" name="sentence" ></textarea><br>
        <input type="submit"></input>
    </form>
</body>
</html>